In [77]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import csv

In [78]:
url='https://en.wikipedia.org/wiki/FIFA_World_Cup'
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:106.0) Gecko/20100101 Firefox/106.0"}
data=requests.get(url,headers=headers)
soup=bs(data.text,'html.parser')

#soup.prettify()

In [79]:

resp_table=soup.select('table.wikitable')[7]
#resp_table

### listing only the headers

In [80]:
headers=[]
for h in resp_table.find_all('th'):
    headers.append(h.text.replace('\n',""))
#print(headers)

In [84]:
df=pd.DataFrame(columns=headers)
#df

Empty DataFrame
Columns: [Rank, Team, Participations, Titles, Pld, W, D, L, GF, GA, GD, Pts]
Index: []

In [86]:
rows=[]
row_tags=rows=resp_table.find_all('tr')
for r in row_tags[1:]:
    dirty_rows=r.find_all('td')
    beauty_rows=[rw.text.strip() for rw in dirty_rows]
    #print(beauty_rows)
    length=len(df)
    df.loc[length]=beauty_rows

In [87]:
df

,Rank,Team,Participations,Titles,Pld,W,D,L,GF,GA,GD,Pts
0,1,Brazil,21,5,109,73,18,18,229,105,124,237
1,2,Germany[124],19,4,109,67,20,22,226,125,101,221
2,3,Italy,18,4,83,45,21,17,128,77,51,156
3,4,Argentina,17,2,81,43,15,23,137,93,44,144
4,5,France,15,2,66,34,13,19,120,77,43,115
5,6,England,15,1,69,29,21,19,91,64,27,108
6,7,Spain,15,1,63,30,15,18,99,72,27,105
7,8,Uruguay,13,2,56,24,12,20,87,74,13,84

In [88]:
df.to_csv('champions.csv',index=False)